//head.jade
link(href="/stylesheets/amaze/assets/css/amazeui.min.css",rel="stylesheet")
link(href="/stylesheets/amaze/assets/css/admin.css",rel="stylesheet")
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap-paginator.js")
script(src="/stylesheets/amaze/assets/js/amazeui.min.js")
script(src="/stylesheets/amaze/assets/js/app.js")