extends layout

block content
  div.am-cf.am-padding
     div.am-fl.am-cf
        strong.am-text-primary.am-text-lg 首页
        if pageName != ""
             span  / 
             small #{pageName}
  p Welcome to #{title}
